/**
 * @module          Articles
 * @author          cms-lab
 * @copyright       2024-2024 cms-lab
 * @link            https://cms-lab.com
 * @license         Custom License (see info.php)
 * @license_terms   see license
 *
 */
 
 .spacer1{
    width: 100%;
    height: 10px;
}

.spacer2{
    width: 100%;
    height: 20px;
}

.spacer3{
    width: 100%;
    height: 30px;
}

.spacer4{
    width: 100%;
    height: 40px;
}

.item {
	margin:20px;
}

.header {
	font-weight:bold;
	font-size:18px;
}

.publish {
	font-weight:bold;
	font-size: 86% !important;
}

button.read_more {
	
}

.external {
	
}
.external_link {
    font-size:20px;
}

span.link_title {
	color:#333;
}

a.external_link {
    color: orange !important;	
}